<script lang="ts">
	import Campaignifier from '../campaignifier';
	import 'bulma/css/bulma.css';
	import { onMount, afterUpdate } from 'svelte';

	const STATE_CONFIG_SAVE_NAME = 'config/v1';

	let source = '';
	let domain = '';
	const camp = new Campaignifier();
	camp.campaign;
	$: camp.linkDomains = domain ? [domain] : [];
	$: processed = camp.campaignify(source);

	onMount(restoreState);
	afterUpdate(saveState);

	function saveState() {
		const config = {
			campaign: camp.campaign,
			domain: domain
		};
		window.localStorage.setItem(STATE_CONFIG_SAVE_NAME, JSON.stringify(config));
	}

	function restoreState() {
		const data = window.localStorage.getItem(STATE_CONFIG_SAVE_NAME);
		if (!data) return;
		const config = JSON.parse(data);

		domain = config.domain;
		camp.campaign = config.campaign;
	}
</script>

<section class="section">
	<div class="container">
		<h1 class="title">Matomo Campaignifier</h1>
		<h2 class="subtitle">Input</h2>
		<div class="field mb-3">
			<div class="control">
				<textarea class="textarea" bind:value={source} placeholder="Paste your HTML content here" />
			</div>
		</div>

		<div class="field">
			<label for="campaign-input" class="label">Campaign name</label>
			<div class="control">
				<input class="input" id="campaign-input" type="text" bind:value={camp.campaign} />
			</div>
		</div>

		<div class="field">
			<label for="campaign-input" class="label">Limit to Domain (optional)</label>
			<div class="control">
				<input class="input" id="domain-input" type="text" bind:value={domain} />
			</div>
		</div>

		<h2 class="subtitle">Output</h2>
		<div class="field">
			<div class="control">
				<textarea class="textarea" bind:value={processed} />
			</div>
		</div>
	</div>
</section>
